{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Страница пользователя. {% endblock %}</h1>
<hr>

<ul class="list-group">
    <h3> Ваши команды: </h3>
    <a style="background-color:#596f9a; border-color:#596f9a; " class="btn btn-primary" href="/create_team"
       role="button">Создать новую команду</a>
    {% for team in teams %}
    <a style="background-color:#7a8cbe; color: white" class="list-group-item" href="/team/{{team['Teams'].id_team}}">{{ "№"+team['Teams'].id_team|string + " -
        " + team['Teams'].name }}
    </a>
    {% endfor %}
</ul>
<hr>
<ul class="list-group">
    <h3> Ваши проекты и файлы внутри них: </h3>
    <a style="background-color:#3ea9c4; border-color:#3ea9c4;" class="btn btn-primary" href="/create_file"
           role="button">Создать новый файл</a>
    <hr>
    {% for project in projects1 %}
    <div>
        <li style="background-color:#cfd7f3;" class="list-group-item">{{project['Projects'].name+": "+
            project['Files'].name+" "+ project['Files'].version }}
        </li>
        <span class="d-block p-2 text-white" style="background-color:#7a8cbe;">{{"В команде №" + project['ProjectsTeams'].id_team|string }}</span>

        <a style="background-color:#3ea9c4; border-color:#3ea9c4;" class="btn btn-primary" href="/file/{{project['Files'].id_file}}"
           role="button">Открыть файл</a>

        <hr>
    </div>
    {% endfor %}
</ul>

<ul class="list-group">
    <h3> Все ваши файлы: </h3>
    {% for file in files %}
    <li style="background-color:#cfd7f3;" class="list-group-item">{{ file['Projects'].name+": "+ file['Files'].name+" "+
        file['Files'].version}}
    </li>
    <a style="background-color:#3ea9c4;" class="btn btn-primary" href="/file/{{ file['Files'].id_file }}"
           role="button">Открыть файл</a>
    {% endfor %}
</ul>

{% endblock %}